@page "/"
<!-- ======= Intro Section ======= -->
<section id="intro">
    <div class="intro-container">
        <div id="introCarousel" class="carousel  slide carousel-fade" data-ride="carousel">

            <ol class="carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" style="background-image: url(/img/intro-carousel/1.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Leviticus 6:13</h2>
                            <p class="animate__animated animate__fadeInUp">​​"the fire must be kept burning on the altar continuously; it must not go out ..."</p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Join us</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(/img/intro-carousel/2.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">At vero eos et accusamus</h2>
                            <p class="animate__animated animate__fadeInUp">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut.</p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(/img/intro-carousel/3.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Temporibus autem quibusdam</h2>
                            <p class="animate__animated animate__fadeInUp">Beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt omnis iste natus error sit voluptatem accusantium.</p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(/img/intro-carousel/4.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Nam libero tempore</h2>
                            <p class="animate__animated animate__fadeInUp">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum.</p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item" style="background-image: url(/img/intro-carousel/5.jpg)">
                    <div class="carousel-container">
                        <div class="container">
                            <h2 class="animate__animated animate__fadeInDown">Magnam aliquam quaerat</h2>
                            <p class="animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                            <a href="#featured-services" class="btn-get-started scrollto animate__animated animate__fadeInUp">Get Started</a>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#introCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon ion-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next" href="#introCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon ion-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</section><!-- End Intro Section -->
<main id="main">

    <!-- ======= Featured Services Section Section ======= -->
    <section id="featured-services">
        <div class="container">
            <div class="row">

                <div class="col-lg-2 box box-bg">
                    <h4 class="title"><a href="">MONDAY</a></h4>
                    <p class="description">
                        10am-noon - One New Man<br />
                        1-3pm - Closed Watch<br />
                        5-6:30pm - Worship & Tongues<br />
                        7-9pm - Israel/Middle East
                    </p>
                </div>

                <div class="col-lg-2 box">
                    <h4 class="title"><a href="">TUESDAY</a></h4>
                    <p class="description">
                        10am-noon - Pray for Nations<br />
                        12-1pm - Noon Worship<br />
                        2-4pm - Worship & The Word
                    </p>
                </div>

                <div class="col-lg-2 box box-bg">
                    <h4 class="title"><a href="">WEDNESDAY</a></h4>
                    <p class="description">
                        6:30-7:30am - Aliyah<br/>
                        10am-noon - Worship/Sanctity of Life<br />
                        12-1pm - Businesses' Watch<br />
                        1-3pm - Persecuted Church<br />
                        7-9pm - City & Church
                    </p>
                </div>
                <div class="col-lg-2 box">
                    <h4 class="title"><a href="">THURSDAY</a></h4>
                    <p class="description">
                        1-3pm - Pray for the Family<br />
                        7-9pm - Revival
                    </p>
                </div>
                <div class="col-lg-3 box box-bg">
                    <h4 class="title"><a href="">FRIDAY</a></h4>
                    <p class="description">
                        7-8:30am - Unto Him<br />
                        10am-12:30pm - New Canadians<br />
                        12:30-1:30pm - Worship hour<br />
                        1:30-3:30pm - Worship & Prayer
                    </p>
                </div>

            </div>
        </div>
    </section><!-- End Featured Services Section -->
    </main>
