@page "/programs"
    <!-- ======= About Us Section ======= -->
    <section id="about" class="about space100">
        <div class="container">

            <div class="row no-gutters">
                <div class="col-lg-4 video-box">
                    <img src="/img/About.jpg" class="img-fluid" alt="">
                </div>

                <div class="col-lg-6 d-flex flex-column justify-content-center about-content" style="margin-left:2%;">

                    <div class="section-title">
                        <h2>UPCOMING NEWS AND EVENTS</h2>
                        <p>"May God be gracious to us and bless us and make his face shine on us— so that your ways may be known on earth, your salvation among all nations.May the peoples praise you, God; may all the peoples praise you. May the nations be glad and sing for joy, for you rule the peoples with equity and guide the nations of the earth. May the peoples praise you, God; may all the peoples praise you. The land yields its harvest; God, our God, blesses us.May God bless us still, so that all the ends of the earth will fear him."  Psalm 67</p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-fingerprint"></i></div>
                        <h4 class="title"><a href="">PRAY</a></h4>
                        <p class="description">
                            for our City and Church
                            Wednesday evenings
                            7-9 PM
                        </p>
                    </div>

                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="bx bx-gift"></i></div>
                        <h4 class="title"><a href="">Revival Watch</a></h4>
                        <p class="description">Thursdays 7-9 pm</p>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->


    @code {

    }

