<header id="header" class="fixed-top">
    <div class="container-fluid">

        <div class="row justify-content-center">
            <div class="col-xl-11 d-flex align-items-center">
                <h5 class="logo mr-auto"><a href="/"><small>David's</small>&nbsp;<span style="font-family:Brush Script MT;">House</span><small class="text-muted" style="color:darkred;">&nbsp;of&nbsp;</small><span class="text-success">Prayer</span></a></h5>
                <!-- Uncomment below if you prefer to use an image logo -->
                <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

                <nav class="nav-menu d-none d-lg-block">
                    <ul>
                        <li class="active"><a href="/">Home</a></li>
                        <li class="drop-down">
                            <a href="/aboutus">About us</a>
                            <ul>
                                <li><a href="#">Who we are</a></li>
                                <li><a href="#">Leadership Team</a></li>
                                <li><a href="#">What we believe</a></li>
                                <li><a href="#">Our Belief</a></li>
                            </ul>
                        </li>
                        <li><a href="/sermons">Sermons</a></li>
                        <li><a href="/test">Gallery</a></li>
                        <li class="drop-down">
                            <a href="/programs">Programs</a>
                            <ul>
                                <li><a href="#">Upcoming programs</a></li>
                                <li><a href="#">Church Services</a></li>
                                <li><a href="#">News</a></li>
                                <li><a href="#">Events</a></li>
                            </ul>
                        </li>
                        <li><a href="/contactus">Contact Us</a></li>

                    </ul>
                </nav><!-- .nav-menu -->
            </div>
        </div>

    </div>
</header><!-- End Header -->

@code{
}